#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.home {
  margin: 1em;
}

main {
  flex: 1 1 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

.close {
  font-size: 2rem;
}