#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
}

.music {
  position: absolute;
  bottom: 0;
  left: 0;
}
