.card-3d-container {
    perspective: 1000px;
    width: 150px;
    height: 215px;
    display: inline-block;
}

.card {
    border-radius: 4px;
    padding: 0;
    width: 150px;
    height: 215px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.card p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;   
    text-align: center;
    font-size: 1rem;
    max-width: 150px;
    margin: 0;
    padding: 0 10px;
    background-image: linear-gradient(
        rgba(0,0,0,0), rgba(0,0,0,1)
    );
}

.card-3d {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.4s cubic-bezier(0.4, 2, 0.6, 1);
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.card-3d-container.flipped .card-3d {
    transform: rotateY(0deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-face img {
    object-fit: cover;
    height: 215px;
    width: 150px;
}


.card-back {
    transform: rotateY(180deg);
}