.card {
    border-radius: 4px;
    transition: transform ease-out;
    transition-duration: 100ms;
    padding: 0;
    position: relative;
    width: 150px;
    height: 215px;
}

.card:hover {
    cursor: pointer;
    
    transform: scale(1.05);
}

.card img {
    /* height: 215px;
    width: 150px; */

}

.card p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;   
    text-align: center;
    font-size: 1rem;
    max-width: 150px;
    margin: 0;
    padding: 0 10px;
    background-image: linear-gradient(
        rgba(0,0,0,0), rgba(0,0,0,1)
    );
}